<div class="reset">
  <div class="reset__header">
    <h1 class="reset__title">Quick Chat</h1>
  </div>

  <div class="reset__box">
    <h2 class="reset__heading">Password Reset</h2>
    <form>
      <div class="reset__form-group">
        <label for="oldPassword">Password</label>
        <div class="reset__password-wrapper">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            class="reset__input"
          />
          <i
            class="pi"
            [ngClass]="showPassword ? 'pi-eye-slash' : 'pi-eye'"
            (click)="showPassword = !showPassword"
          ></i>
        </div>
      </div>

      <div class="reset__form-group">
        <label for="newPassword">Confirm Password</label>
        <div class="reset__password-wrapper">
          <input
            [type]="showConfirmPassword ? 'text' : 'password'"
            id="conformPassword"
            class="reset__input"
          />
          <i
            class="pi"
            [ngClass]="showConfirmPassword ? 'pi-eye-slash' : 'pi-eye'"
            (click)="showConfirmPassword = !showConfirmPassword"
          ></i>
        </div>
      </div>

      <div class="reset__actions">
        <button type="submit" class="btn">Submit</button>
      </div>

      <!-- <div class="reset__login">
        <span>Remember password?</span>&nbsp;
        <a [routerLink]="['/login']" class="reset__link">Back to login</a>
      </div> -->
    </form>
  </div>
</div>
